
<div class="container">
	<div class="row ">
		<ol class="breadcrumb">
			<a href="/"><i class="icon fa fa-home"></i> Home</a> /
			<a href="/show-payment">Đơn Hàng</a> /
			<a href="#">Chi Tiết Đơn Hàng</a>
		</ol>

	</div>
	<div class="solid-content" style="padding-left: 20px;">
		<div class="row">

			<div class="col-md-3">
				<h3>Mã đơn Hàng :</h3>
				<input class="form-control" [(ngModel)]="payment.title" disabled>
			</div>

			<div class="col-md-3">
				<h3>Mã Vận Chuyển :</h3>
				<input class="form-control" [(ngModel)]="payment.shipcode"
					[disabled]="!isAdmin">
			</div>
		</div>
		<div class="row" *ngIf="isAdmin">
			<div class="col-md-2">
				<div class="form-group form-group-icon-left">
					<h3>Status :</h3>
					<select name="status" [(ngModel)]="payment.status_id"
						class="form-control">
						<option value="none">----Selected-----</option>
						<option value="0">Đặt hàng</option>
						<option value="1">Chốt Gửi</option>
						<option value="2">Đang Giao Hàng</option>
						<option value="3">Thành Công</option>
						<option value="4">Boom</option>
						<option value="5">Chuyển Hoàn</option>
						<option value="6">Hủy</option>
					</select>
				</div>
			</div>
		</div>

		<h3>Thông tin sản phẩm</h3>

		<div id="cartdetail" style="max-width: 100%;" class="row">
			<table class="table table-bordered">
				<thead>
					<th class="text-right" style="text-align: center;"><h4>Mã
							sản phẩm</h4></th>
					<th class="text-right" style="text-align: center;"><h4>Tên
							sản phẩm</h4></th>
					<th class="text-right" style="text-align: center;"><h4>Phân
							Loại</h4></th>
					<th class="text-right" style="text-align: center;"><h4>Giá
							sản phẩm</h4></th>
					<th class="text-right" style="text-align: center;"><h4>Số
							Lượng</h4></th>
					<th class="text-right" style="text-align: center;"><h4>Thành
							Tiền</h4></th>
				</thead>
				<tbody>
					<tr *ngFor="let item of payment.carts">
						<td class="text-center">{{item.code}}</td>
						<td class="text-center">{{item.name}}</td>
						<td class="text-center">{{item.size}}</td>
						<td class="text-center">{{item.disct_price>0&&item.price>item.disct_price?item.disct_price:item.price}}</td>
						<td><input class="form-control text-center"
							[(ngModel)]="item.amount" (change)="changeAmount()"></td>

						<td class="text-center ">
							{{item.disct_price>0&&item.price>item.disct_price?item.disct_price*item.amount:item.price*item.amount}}</td>
					</tr>

					<tr id='rowInsertBtn'></tr>
				</tbody>
			</table>
		</div>
		<button *ngIf="isAdmin" class="btn btn-success" id="insertBtn"
			onclick="insert()">+</button>
		<button *ngIf="isAdmin" class="btn btn-success" id="insertBtn"
			onclick="Add()">OK</button>
		<div class="row" style="padding-left: 20px;">
			<div class="col-md-6">
				<h4>Phí vận chuyển</h4>
				<div class="row">
					<div class="col-sm-8">

						<input *ngIf="isAdmin" class="form-control"
							[(ngModel)]="payment.shipfee"> <input *ngIf="!isAdmin"
							class="form-control" [(ngModel)]="payment.shipfee" disabled>

					</div>
					<div *ngIf="isAdmin" class="col-sm-4">
						<button class=" btn btn-success">Áp dụng</button>
					</div>
				</div>
				<br>
				<h4>Voucher</h4>
				<div class="row">
					<div class="col-sm-8 ">
						<input type="text" class="form-control"
							[(ngModel)]="payment.voucher" placeholder="Mã giảm giá"
							[disabled]="!isAdmin" (blur)="applyVoucher()">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row" style="padding-left: 20px;">
					<div class="col-xs-4 col-md-4">
						<h4>Ghi chú</h4>
					</div>
				</div>
				<div class="row">
					<div>
						<textarea class="form-control" style="width: 90%; height: 200%;"
							[(ngModel)]="payment.note"></textarea>
					</div>
				</div>
			</div>
			<br>
		</div>


	</div>
	<div class="col-sm-7">

		<div class="row solid-content">
			<h3>Hình thức giao hàng</h3>
			<div *ngIf="payment.settingShop.transportMethod.includes('ghtk')"
				class="col-xs-3 col-md-3" id="ship1">
				<a class="thumbnail" [ngClass]="{selected: shipSelected=='ghtk'}"
					(click)="selectShip('ghtk')"> <img class="dilivery"
					src="../assets/img/delivery_form/giaohangtietkiem.png" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.transportMethod.includes('ghn')"
				class="col-xs-3 col-md-3" id="ship2">
				<a class="thumbnail" [ngClass]="{selected: shipSelected=='ghn'}"
					(click)="selectShip('ghn')"> <img class="dilivery"
					src="../assets/img/delivery_form/giaohangnhanh.png" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.transportMethod.includes('vtp')"
				class="col-xs-3 col-md-3" id="ship3">
				<a class="thumbnail" [ngClass]="{selected: shipSelected=='vtp'}"
					(click)="selectShip('vtp')"> <img class="dilivery"
					src="../assets/img/delivery_form/viettel_post.jpg" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.transportMethod.includes('bd')"
				class="col-xs-3 col-md-3" id="ship4">
				<a class="thumbnail" [ngClass]="{selected:shipSelected=='bd'}"
					(click)="selectShip('bd')"> <img class="dilivery"
					src="../assets/img/delivery_form/vnpost.png" alt="...">
				</a>
			</div>
		</div>
		<div class="row solid-content">

			<h3>Hình thức thanh toán</h3>
			<div *ngIf="payment.settingShop.paymentMethod.includes('tm')"
				class="col-xs-3 col-md-3" id="type1">
				<a class="thumbnail" [ngClass]="{selected: typeSelected=='tm'}"
					(click)="selectType('tm')"> <img class="type-payment"
					src="../assets/img/payment_method/cash.jpg" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.paymentMethod.includes('ck')"
				class="col-xs-3 col-md-3 " id="type2">
				<a class="thumbnail" [ngClass]="{selected: typeSelected=='ck'}"
					(click)="selectType('ck')"> <img class="type-payment"
					src="../assets/img/payment_method/transfer.jpg" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.paymentMethod.includes('COD')"
				class="col-xs-3 col-md-3" id="type3">
				<a class="thumbnail" [ngClass]="{selected: typeSelected=='COD'}"
					(click)="selectType('COD')"> <img class="type-payment"
					src="../assets/img/payment_method/cod.png" alt="...">
				</a>
			</div>
			<div *ngIf="payment.settingShop.paymentMethod.includes('ttd')"
				class="col-xs-3 col-md-3" id="type4">
				<a class="thumbnail" [ngClass]="{selected: typeSelected=='ttd'}"
					(click)="selectType('ttd')"> <img class="type-payment"
					src="../assets/img/payment_method/credit.png" alt="...">
				</a>
			</div>
		</div>
		<div class="row">
			<div *ngIf="isAdmin" class="col-xs-2 col-md-3"></div>
			<button *ngIf="isAdmin" class="btn btn-info col-xs-4 col-md-3"
				type="button" onclick="UpdateCart()">Cập Nhật Đơn Hàng</button>
			<a *ngIf="isAdmin" class="btn btn-success col-xs-4 col-md-3"
				type="button" href="/bill/{{payment.payment_id}}"> Hóa Đơn </a>
			<button class="btn btn-info col-xs-4 col-md-3" type="button"
				(click)="createPayment()">Thanh Toán</button>
		</div>
	</div>
	<div class="col-sm-4 solid-content">
		<h2>Thông tin đơn hàng</h2>
		<h4>Tên: <input class="form-control" [(ngModel)]="payment.name" ></h4>
		<h4>Số điện thoại: <input class="form-control" [(ngModel)]="payment.phone"></h4>
		<h4>
			Địa Chỉ: <input class="form-control" [(ngModel)]="payment.address">
		</h4>
		<h3>Tỉnh thành:</h3>

		<select class="form-control" [(ngModel)]="payment.tinhthanh" (change)="calculateTotal()">
			<option value="HNI">Hà Nội</option>
			<option value="HCM">Hồ Chí Minh</option>
			<option value="HPG">Hải Phòng</option>
			<option value="DNG">Đà Nẵng</option>
			<option value="CTO">Cần Thơ</option>
			<option value="TGG">Tiền Giang</option>
			<option value="HUG">Hậu Giang</option>
			<option value="DKG">Đăk Nông</option>
			<option value="VPC">Vĩnh Phúc</option>
			<option value="BNH">Bắc Ninh</option>
			<option value="HDG">Hải Dương</option>
			<option value="HYN">Hưng Yên</option>
			<option value="HNM">Hà Nam</option>
			<option value="NDH">Nam Ðịnh</option>
			<option value="TBH">Thái Bình</option>
			<option value="NBH">Ninh Bình</option>
			<option value="HGG">Hà Giang</option>
			<option value="CBG">Cao Bằng</option>
			<option value="LCI">Lào Cai</option>
			<option value="BKN">Bắc Kạn</option>
			<option value="LSN">Lạng Sơn</option>
			<option value="TQG">Tuyên Quang</option>
			<option value="YBN">Yên Bái</option>
			<option value="TNN">Thái Nguyên</option>
			<option value="PHO">Phú Thọ</option>
			<option value="BGG">Bắc Giang</option>
			<option value="QNH">Quảng Ninh</option>
			<option value="LCU">Lai Châu</option>
			<option value="SLA">Sơn La</option>
			<option value="HBH">Hòa Bình</option>
			<option value="THA">Thanh Hóa</option>
			<option value="NAN">Nghệ An</option>
			<option value="HTH">Hà Tĩnh</option>
			<option value="QBH">Quảng Bình</option>
			<option value="QTI">Quảng Trị</option>
			<option value="HUE">Thừa Thiên - Huế</option>
			<option value="QNM">Quảng Nam</option>
			<option value="QNI">Quảng Ngãi</option>
			<option value="BDH">Bình Ðịnh</option>
			<option value="PYN">Phú Yên</option>
			<option value="KHA">Khánh Hòa</option>
			<option value="KTM">Kon Tum</option>
			<option value="GLI">Gia Lai</option>
			<option value="DLK">Đăk Lăk</option>
			<option value="LDG">Lâm Ðồng</option>
			<option value="NTN">Ninh Thuận</option>
			<option value="BPC">Bình Phước</option>
			<option value="TNH">Tây Ninh</option>
			<option value="BDG">Bình Dương</option>
			<option value="DNI">Đồng Nai</option>
			<option value="BTN">Bình Thuận</option>
			<option value="VTU">Bà rịa - Vũng tàu</option>
			<option value="LAN">Long An</option>
			<option value="DTP">Đồng Tháp</option>
			<option value="AGG">An Giang</option>
			<option value="VLG">Vĩnh Long</option>
			<option value="BTE">Bến Tre</option>
			<option value="KGG">Kiên Giang</option>
			<option value="TVH">Trà Vinh</option>
			<option value="STG">Sóc Trăng</option>
			<option value="BLU">Bạc Liêu</option>
			<option value="CMU">Cà Mau</option>
			<option value="DBN">Điện Biên</option>
		</select>
		<div id="noithanh" [style.display]="payment.tinhthanh!='HCM'?'none':'block'">
			<h3>Quận huyện:</h3>

			<select class="form-control" [(ngModel)]="payment.quanhuyen"  (change)="calculateTotal()">
				<option value = ''>----Chọn Quận Huyện----</option>
				<option *ngFor="let item of payment.settingShop.noithanh.split(',')"
					[value]="item">{{item}}</option>
				<option *ngFor="let item of payment.settingShop.ngoaithanh.split(',')"
					[value]="item">{{item}}</option>
			</select>
		</div>
		<div [style.display]="payment.tinhthanh=='HCM'?'none':'block'">
		<div class="col-md-6">
				<div >
					<h3 >Chành xe</h3>
					<input class = "form-control" type="radio" [(ngModel)]="payment.hinhthuc" (click)="calculateTotal()" value="chanhxe"
						checked>

				</div>
			</div>
			<div class="col-md-6">
					<h3 >Thu hộ</h3>
					<input class = "form-control" type="radio"[(ngModel)]="payment.hinhthuc" (click)="calculateTotal()" value="thuho">
			</div>
		</div>
			
		
		<h3>Tổng giá sản phẩm:</h3>
		<h2 id="totalLabel" class="fa-money">{{total}}</h2>
		<h3>Tổng giá đơn hàng:</h3>
		<h2 id="totalship" class="fa-money">{{payment.total+payment.shipfee}}</h2>
		<h2 *ngIf="voucherMess!=''" style="color: red">{{voucherMess.split('###')[0]}}</h2>
	</div>

</div>

<div class="row">
	<div id="idSuccess" class="modal">
		<div class="container popup animate">
			<div style="padding-top: 75px;">
				<span onclick="document.getElementById('id03').style.display='none'"
					class="close" title="Close Modal">&times;</span> <img
					src="img/LOGO.svg" alt="Avatar" class="avatar center-block"
					style="max-width: 75px">
			</div>
			<div style="padding-top: 75px;">
				<span onclick="document.getElementById('id03').style.display='none'"
					class="close" title="Close Modal">&times;</span> <img
					src="assets/img/success.jpg" alt="Avatar"
					class="avatar center-block" style="max-width: 75px">
			</div>
			<a href="/" class="btn btn-success col-sm-2"> OK </a>
		</div>
	</div>
</div>

