
<div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
	<div *ngIf="!isShowAll">
		<div *ngIf="isAdmin" class="row">
			<div class="col-md-3">
				<a class="btn btn-primary font-mobile"
					href="/create-prd?cat=<%= catflt %>&catId=<%= catId %>">Thêm
					Sản Phẩm</a>
			</div>
		</div>
		
		<div class="row" id="filter" style="display: block;">
			<div class="col-xs-12 col-md-12">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="form-group">
							<h3 class="font-mobile">
								<span class="label label-success">Lọc Theo Giá :</span>
							</h3>
						</div>
						<div class="form-group">
							<select class=" form-control" [(ngModel)]="giaFilter">
								<option value=''>---- Select ----</option>
								<option value='asc'>Tăng Dần</option>

								<option value='desc'>Giảm Dần</option>
							</select>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="form-group">
						<input class=" form-control" [(ngModel)]="keyword"
							style="display: none" type="text" />
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>

					<div class="col-md-12">
						<div class="row">
							<div class="col-md-offset-5 col-md-2 col-xs-offset-5 col-xs-3">
								<div class="form-group">
									<button class="btn btn-primary font-mobile" (click)="filter()">Áp
										Dụng</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="isAdmin" class="row">
					<button class="btn btn-primary font-mobile" (click)="addProduct()">Thêm
						sản phẩm.</button>
				</div>
				<div class="row">
					<div *ngFor="let product of categoryscreens">
						<div class="col-xs-6 col-md-3">
							<a (click)="navigateToProductDetail(product.name)">
								<div class="product">

									<div class=""
										style="position: relative; overflow: hidden; margin-bottom: 20px;">
										<img class="img-responsive zoom" src="{{product.image}}"
											alt="image">
									</div>

									<div *ngIf="product.discountPrice==0"
										style="position: relative;" class="product_detail">
										<h2 class="font-custom" style="margin: 0px;">{{product.name}}</h2>
										<h3>
											<a href=""
												style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a>
										</h3>
										<h3 class="font-custom currency"
											style="color: red; font-weight: bold; margin-top: 10px;"
											id="dictprice">{{product.price}}</h3>
									</div>
									<div *ngIf="product.discountPrice!=0"
										style="position: relative;" class="product_detail">
										<div class="col-md-3"
											style="position: absolute; padding: 0px; top: 0px; right: 0px;">
											<div style="position: relative;">
												<img src="/img/sale.svg">
												<h5
													style="color: white; position: absolute; top: 0px; text-align: center; padding-left: 15px;">-{{(1-product.discountPrice/product.price)*100}}%</h5>
											</div>
											<!-- <h4 style="color: white;">-39%</h4>   -->
										</div>
										<h2 class="font-custom" style="margin: 0px;">{{product.name}}</h2>
										<h3>
											<a href=""
												style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a>
										</h3>
										<h3 class="font-custom currency"
											style="color: red; font-weight: bold; margin-top: 10px;"
											id="dictprice">{{product.discountPrice}}</h3>
										<h4 class="currency"
											style="text-decoration: line-through; color: #6b6b6c; margin: 0px;">{{product.price}}</h4>
									</div>
									<h3 class="font-custom " style="margin: 0px;">{{product.name}}</h3>

								</div>
							</a>
							<div class="row" *ngIf="isAdmin">
								<div class="col-xs-3 col-md-3">
									<a class="btn btn-primary"
										(click)="navigateToProductEdit(product.name)">Edit</a>
								</div>
								<div class="col-xs-3 col-md-3">
									<button class="btn btn-danger"
										onclick="EraseProduct('<%=result[j].name%>')">Xóa</button>
								</div>
							</div>

						</div>
					</div>


				</div>
				<div>
					<nav aria-label="Page navigation example"
						style="text-align: center;">
						<ul class="pagination" >
							<li class="page-item">
							<a class="page-link font-mobile"
								onclick="plusPage(-1)" href="#">Trước</a></li>
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(1)">1</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(2)">2</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(3)">3</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(4)">4</a>
							</li>
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(5)">5</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(6)">6</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(7)">7</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(8)">8</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(9)">9</a>
							</li> 
							<li class="page-item">
							<a class="page-link active font-mobile" (click)="goToPage(10)">10</a>
							</li>  
							<li class="page-item"><a class="page-link font-mobile"
								onclick="plusPage(1)" href="#">Tiếp</a></li>
						</ul>
					</nav>
				</div>

			</div>
		</div>




	</div>
</div>
