<div class = "container">
<table class="table table-bordered">
	<thead>
		<th class="text-right" style="text-align: center;"><h3>Mã
				sản phẩm</h3></th>
		<th class="text-right" style="text-align: center;"><h3>Tên
				sản phẩm</h3></th>
		<th class="text-right" style="text-align: center;"><h3>Phân
				loại</h3></th>
		<th class="text-right" style="text-align: center;"><h3>Số
				Lượng</h3></th>
		<th class="text-right" style="text-align: center;"><h3>Nhập
				thêm</h3></th>
	</thead>
	<tbody>
		<tr  *ngFor="let item of products;let i = index" [ngStyle]="{'background-color': item.quantity==0?'red':''}">
			<td style="text-align: center;">
				{{item.code}}</td>
			<td style="text-align: center;">{{item.name}}</td>
			<td style="text-align: center;">
				{{item.size}}</td>
			<td style="text-align: center;">
				{{item.quantity}}</td>
			<td style="text-align: center;">
				<div class="row" style="text-align: center;">
					<div class="col-md-3">
						<input class="form-control" [(ngModel)]="addedAmount[i]">
					</div>
					<div class="col-md-3">
						<button class="form-control btn-success" (click)="add(i)"
							>OK</button>
					</div>

				</div>


			</td>
		</tr>
	</tbody>
</table>
</div>

<router-outlet></router-outlet>