<div class="carousel js-flickity container-fluid"
	data-flickity-options='{ "autoPlay" : 4000 }'>
	<div class="carousel-cell">
		<a [routerLink]="['/app-phong-thuy']"> <img
			src="../../assets/img/196x110.png" class="center-block">
		</a>
	</div>
	<div class="carousel-cell">
		<a href="/maintenance-prd/VIP"><img class="center-block"
			src="../../assets/img/196x110.png" alt="..."></a>
	</div>
</div>
<div class="container-fluid">
	<div class="container" id="mobile">
		<div *ngIf="isMobile">
			<div class="row ">
				<div class="col-xs-6 col-md-6">

					<a> <img src="../assets/img/best.jpg" alt="Avatar"
						class="center-block" (click)="best()"></a>
					<div class="center text">Best Seller</div>

				</div>

				<div class="col-xs-6 col-md-6">

					<a> <img src="../assets/img/new.jpg" class="center-block"
						alt="Avatar" (click)="arrival()"></a>
					<div class="center text">New Arrival</div>

				</div>

			</div>
		</div>
		<div *ngIf="!isMobile">
			<div class="row ">
				<div class="col-xs-6 col-md-6">

					<a> <img src="../assets/img/best.jpg" alt="Avatar"
						class="center-block" (click)="best()"></a>
					<div class="middle 1">
						<div class="text">Best Seller</div>
					</div>

				</div>

				<div class="col-xs-6 col-md-6">

					<a> <img src="../assets/img/new.jpg" class="center-block"
						alt="Avatar" (click)="arrival()"></a>
					<div class="middle 2">
						<div class="text">New Arrival</div>
					</div>

				</div>

			</div>
		</div>

	</div>
	<div class="container" id="mobile">
		<div class="row ">
			<div class="col-xs-12 col-md-12">
				<h3 style="text-align: center">SHOP THEO SẢN PHẨM</h3>
			</div>
		</div>
		<div class="row ">
			<div class=" col-xs-4 col-md-4" style="align-items: center">

				<a style="align-self: center"><img src="../assets/img/ao.png"
					class="center-block" alt="Avatar" (click)="ao()"></a>
				<h4 style="text-align: center; font-weight: bold">Áo</h4>

			</div>
			<div class="col-xs-4 col-md-4">

				<a><img src="../assets/img/dam.png" class="center-block"
					alt="Avatar" (click)="dam()"></a>
				<h4 style="text-align: center; font-weight: bold">Đầm</h4>

			</div>
			<div class="col-xs-4 col-md-4">

				<a><img src="../assets/img/phukien.png" class="center-block"
					alt="Avatar" (click)="phukien()"></a>
				<h4 style="text-align: center; font-weight: bold">Phụ Kiện</h4>

			</div>

		</div>
		<div *ngIf="products" class="row">
			<div *ngFor="let product of products, let i=index">
				<div class="col-xs-6 col-md-3 folder {{folderId}} {{page}}">
					<a href="/product-detail/{{product.cat_id}}/{{product.name}}">
						<div class="product">
							<div *ngIf="isNews[i]" class="col-xs-3 col-md-2 newTag">
								<img class="shake img-responsive" src="/img/moi.svg">
							</div>

							<div *ngIf="isFreeShips[i]"
								class="col-xs-3 col-md-2 col-md-offset-2 col-xs-offset-3">
								<img class="img-responsive" src="/img/freeship.svg">
							</div>

							<div class="imageProduct">
								<img src="/assets/img/{{product.image}}>"
									class="img-responsive zoom center-block">
							</div>

							<ng-template *ngIf="product.price != 0">
							<div *ngIf="!distctPrice[i]"
								class="product_detail priceOfProduct">
								<h3 class="font-custom font-mobile" style="margin: 0px;">{{product.name}}</h3>
								<h3 class="font-mobile">
									<a style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a>
								</h3>
								<h3 class="font-custom currency font-mobile" id="dictprice">{{product.price}}</h3>
							</div>

							<div *ngIf="distctPrice[i]" class="product_detail priceOfProduct">
								<div class="col-md-3"
									style="position: absolute; padding: 0px; bottom: 0px; right: 0px;">
									<div style="position: relative;">
										<img src="/img/sale.svg">
										<h5
											style="color: white; position: absolute; top: 0px; text-align: center; padding-left: 15px;">
											-<%=Math.round((1 - parseInt(result[j].disct_prices) /
											parseInt(result[j].prices)) * 100)%>%</h5>
									</div>
								</div>
								<h3 class="font-custom font-mobile" style="margin: 0px;">{{product.name}}</h3>
								<h3 class="font-mobile">
									<a href=""
										style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a>
								</h3>
								<h3 class="font-custom currency font-mobile" id="dictprice">
									distctPrice</h3>
								<h4 class="currency font-mobile"
									style="text-decoration: line-through; color: #6b6b6c; margin: 0px;">
									{{product.price}}</h4>
							</div>
							</ng-template>

							<ng-template *ngIf="product.price == 0">
							<h3 class="font-custom product_detail" style="margin: 0px;">{{product.name}}</h3>
							</ng-template>

						</div>
					</a>
				</div>

				<div *ngIf="isAdmin">
					<div class="col-xs-3 col-md-3">
						<a class="btn btn-primary" href="/edit-product/">Edit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>