
<div class="container">
	<div id="jssor_1"
		style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 980px; height: 500px; overflow: hidden; visibility: hidden;">
		<!-- Loading Screen -->

		<div data-u="slides"
			style="cursor: default; position: relative; top: 0px; left: 0px; width: 980px; height: 500px; overflow: hidden;">
			<div>
				<img (click)="arrival()" src="../../assets/img/new-slide.jpg"
					class="center-block" />
				<div u="thumb">New Arrival</div>
			</div>
			<div>
				<img class="center-block" src="../../assets/img/member-slide.jpg"
					alt="..." />
				<div u="thumb">Membership</div>
			</div>
			<a data-u="any" href="https://www.jssor.com" style="display: none">image
				gallery</a>
		</div>
		<!-- Thumbnail Navigator -->
		<div u="thumbnavigator"
			style="position: absolute; bottom: 0px; left: 0px; width: 980px; height: 50px; color: #FFF; overflow: hidden; cursor: default; background-color: rgba(0, 0, 0, .5);">
			<div u="slides">
				<div u="prototype"
					style="position: absolute; top: 0; left: 0; width: 980px; height: 50px;">
					<div u="thumbnailtemplate"
						style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-family: arial, helvetica, verdana; font-weight: normal; line-height: 50px; font-size: 16px; padding-left: 10px; box-sizing: border-box;"></div>
				</div>
			</div>
		</div>
		<!-- Arrow Navigator -->
		<div data-u="arrowleft" class="jssora061"
			style="width: 55px; height: 55px; top: 0px; left: 25px;"
			data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
			<svg viewbox="0 0 16000 16000"
				style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <path class="a"
					d="M11949,1919L5964.9,7771.7c-127.9,125.5-127.9,329.1,0,454.9L11949,14079"></path>
            </svg>
		</div>
		<div data-u="arrowright" class="jssora061"
			style="width: 55px; height: 55px; top: 0px; right: 25px;"
			data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
			<svg viewbox="0 0 16000 16000"
				style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <path class="a"
					d="M5869,1919l5984.1,5852.7c127.9,125.5,127.9,329.1,0,454.9L5869,14079"></path>
            </svg>
		</div>
	</div>
	<div class="container" id="mobile" style='margin-top: 10px'>
		<div *ngIf="isMobile">
			<div class="row ">
				<div class="col-xs-6 col-md-6">

					<a href="javascript:void(0)"> <img src="../assets/img/best.jpeg" style="max-width:80%"
						alt="Avatar" class="center-block" (click)="best()"></a>
					<div class="center text">Best Seller</div>

				</div>

				<div class="col-xs-6 col-md-6">

					<a> <img src="../assets/img/new.jpeg" class="center-block" style="max-width:80%"
						alt="Avatar" (click)="arrival()"></a>
					<div class="center text">New Arrival</div>

				</div>

			</div>
		</div>
		<div *ngIf="!isMobile">
			<div class="row ">
				<div class="col-xs-6 col-md-6">

					<a href="javascript:void(0)"> <img src="../assets/img/best.jpeg" style="max-width:80%"
						alt="Avatar" class="center-block" (click)="best()"></a>
					<div class="middle 1">
						<div class="text">Best Seller</div>
					</div>

				</div>

				<div class="col-xs-6 col-md-6">

					<a href="javascript:void(0)"> <img src="../assets/img/new.jpeg" style="max-width:80%"
						class="center-block" alt="Avatar" (click)="arrival()"></a>
					<div class="middle 2">
						<div class="text">New Arrival</div>
					</div>

				</div>

			</div>
		</div>

	</div>
	<div class="container" id="mobile">
		<div class="row ">
			<div class="col-xs-12 col-md-12">
				<h3 style="text-align: center">SHOP THEO SẢN PHẨM</h3>
			</div>
		</div>
		<div class="row ">
			<div class=" col-xs-4 col-md-4" style="align-items: center">

				<a href="javascript:void(0)" style="align-self: center"><img
					src="../assets/img/ao.png" class="center-block" alt="Avatar"  style="max-width:80%"
					(click)="ao()"></a>
				<h4 style="text-align: center; font-weight: bold">Áo</h4>

			</div>
			<div class="col-xs-4 col-md-4">

				<a href="javascript:void(0)"><img src="../assets/img/dam.png" style="max-width:80%"
					class="center-block" alt="Avatar" (click)="dam()"></a>
				<h4 style="text-align: center; font-weight: bold">Đầm</h4>

			</div>
			<div class="col-xs-4 col-md-4">

				<a href="javascript:void(0)"><img
					src="../assets/img/phukien.png" class="center-block" alt="Avatar" style="max-width:80%"
					(click)="phukien()"></a>
				<h4 style="text-align: center; font-weight: bold">Phụ Kiện</h4>

			</div>

		</div>
		<div class="row">
			<div *ngFor="let product of categoryscreens">
				<div class="col-xs-6 col-md-3">
					<a href="javascript:void(0)"
						(click)="navigateToProductDetail(product.name)">
						<div class="product">

							<div class=""
								style="position: relative; overflow: hidden; margin-bottom: 20px;">
								<img class="img-responsive zoom" src="{{product.image}}"
									alt="image">
							</div>

							<div *ngIf="product.discountPrice==0" style="position: relative;"
								class="product_detail">
								<h2 class="font-custom" style="margin: 0px;">{{product.name}}</h2>
								<h4>
									<a href="javascript:void(0)"
										style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;
									</a>

								</h4>
								<h4 class="font-custom currency"
									style="font-weight: bold; margin-top: 10px;" id="dictprice">{{product.price}}</h4>
							</div>
							<div *ngIf="product.discountPrice!=0" style="position: relative;"
								class="product_detail">
								<div class="col-md-3"
									style="position: absolute; padding: 0px; top: 0px; right: 0px;">
									<div style="position: relative;">

										<h5
											style="color: white; position: absolute; top: 0px; text-align: center; padding-left: 15px;">-{{(1-product.discountPrice/product.price)*100}}%</h5>
									</div>
									<!-- <h4 style="color: white;">-39%</h4>   -->
								</div>
								<h2 class="font-custom" style="margin: 0px;">{{product.name}}</h2>
								<h4>
									<a href="javascript:void(0)"
										style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;
									</a>
								</h4>
								<h4 class="font-custom currency"
									style="color: red; font-weight: bold; margin-top: 10px;"
									id="dictprice">
									{{product.discountPrice}} <- <font
										style="text-decoration: line-through; color: #6b6b6c">{{product.price}}</font>
								</h4>
							</div>

						</div>
					</a>
					<div class="row" *ngIf="isAdmin">
						<div class="col-xs-3 col-md-3">
							<a class="btn " (click)="navigateToProductEdit(product.name)">Edit</a>
						</div>
						<div class="col-xs-3 col-md-3">
							<button class="btn btn-danger"
								onclick="EraseProduct('<%=result[j].name%>')">Xóa</button>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>
</div>